body {
  padding: 30px;
  background: #323437;
  font-family: monospace;
  margin: 0;
}

#edit-profile-btn {
  position: absolute;
  top: 10px;
  right: 100px;
}

#logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#welcome-text {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
}

#loggedUserFName, #loggedUserLName{
  font-size: 30px;
}

#logo {
  width: 7.5%;
  position: absolute;
  top: 20px;
}

h1 {
  text-align: center;
}

button {
  color: #65676a;
  background-color: #323437;
  padding: 5px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
}

button:hover {
  color: #e3b11d;
}

#sort-amount-btn:hover,
#sort-date-btn:hover,
#sort-amount-btn:active,
#sort-date-btn:active {
  color: #979a9e;
  background-color: #e6b72b;
}

#add-btn:hover{
  color: #979a9e;
  background-color: rgb(31, 116, 31);
}

button,
div {
  font-size: 20px;
  padding: 10px;
}

div {
  font-weight: 400;
  color: #65676a;
}

span {
  font-weight: 600;
  font-size: 22px;
  color: #e3b11d;
}

h2 {
  text-align: center;
  color: #979a9e;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #979a9e;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  font-family: monospace;
  font-size: 20px;
  color: #757575;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid #e3b11d;
}

.input-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 100px;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"] {
  padding: 5px;
  margin-right: 10px;
}

.input-section button {
  padding: 5px 10px;
  background-color: #2c2e31;
  color: #65676a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.expenses-list {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#expenses-table-body {
  color: #979a9e;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #2c2e31;
  color: #65676a;
}

tfoot td {
  font-weight: bold;
  color: #979a9e;
}

#total-amount {
  color: #e3b11d;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #2c2e31;
  color: #65676a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-section>div:first-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-section>div:first-of-type>div {
  margin: 0 10px;
  text-align: center;
}

.input-section>div:last-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Aligns the input section */
.input-section div:first-child > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#add-btn {
  margin: 0 5px 0 50px;
}

#sort-amount-btn {
  margin: 0 5px 0 5px;
}

#sort-date-btn {
  margin: 0 5px;
}

#edit-profile-btn {
  position: absolute;
  top: 10px;
  right: 100px;
}

#logout-btn {
  position: absolute;
  top: 10px; 
  right: 10px; 
}

#delete-all-btn:hover {
  background-color: rgb(155, 38, 38);
  color: #65676a;
  transition: all 0.3s ease;
}

.budget-container,
.remaining-budget-container {
  text-align: center;
}

.budget-container input[type="number"] {
  width: 200px;
  padding: 10px;
  border: 1px bottom #ccc;
}